.app {
  text-align: center;
  padding-top: 30px;
}

.scrollbar {
  background: #f5f5f5;
  overflow-y: scroll;
  /*background-color: #ffe37a;*/
  background-image: linear-gradient(to bottom right, #ffeeaf, #ffffff);
  height: 360px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollbar::-webkit-scrollbar:vertical {
  width: 11px;
}

.scrollbar::-webkit-scrollbar:horizontal {
  height: 11px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 1px solid #cacee3;
  background-color: #cacee3;
}

.sounds {
  margin: auto;
  width: 372px;
  box-shadow: 1px 1px 15px #ffffff;
  border-radius: 5px;
}
